<!-- <div id="timeline"></div>

<div id="classes_{{property.id}}">
  {{property.name}} ({{property.id}})
  <div *ngFor="let class of property.classes; let i = index">
    <button class="btn" ng-style="{'background-color': colors[class.value]}">
      onclick="addLabel('{{property.entity_id}}','{{property.id}}','{{i}}')">
      {{class}}
    </button>
  </div>
</div>
<div>
  <input type="text" value="New Class" id="newClass_{{property.id}}" />
  <i class="material-icons" style="cursor: pointer" (click)="addClass([property.entity_id], [property.id])">
    add
  </i>
</div> -->
