<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <h3 style="text-align: center">Radar Chart component</h3>
  <lib-radar-chart 
    [property_values] = "radar_property.values"
    [property_dimensions] = "radar_property.dimensions" 
    [property_dimensions] = 'radar_property.type'
    >
</lib-radar-chart>
</div>

<div>
  <h3 style="text-align: center">Line Chart component</h3>
  <lib-line-chart 
    [property_values] = "line_property.values"
    [property_dimensions] = "line_property.dimensions" >
</lib-line-chart>
</div>

<div>
  <h3 style="text-align: center">Double Dimensions Chart component</h3>
  <lib-double-dimensions-chart 
    [property_values] = "double_property.values"
    [property_dimensions] = "double_property.dimensions" 
    >
</lib-double-dimensions-chart>
</div>

<router-outlet></router-outlet>
