
<h2>Property Components</h2>

<div class="component-container">
  <h3>Property with 1 Dimension</h3>
  <dcd-property-one-dimension
    [property_values]="data_1d_property.values"
    [property_dimensions]="data_1d_property.dimensions">
  </dcd-property-one-dimension>
</div>

<div class="component-container">
  <h3>Property with 2 Dimensions</h3>
  <dcd-property-two-dimensions
    [property_values]="data_2d_property.values"
    [property_dimensions]="data_2d_property.dimensions"
  >
  </dcd-property-two-dimensions>
</div>

<div class="component-container">
  <h3>Property with 3 Dimensions or more</h3>
  <dcd-property-x-dimensions
    [property_values]="data_3d_property.values"
    [property_dimensions]="data_3d_property.dimensions"
    [property_type]='data_3d_property.type'
  >
  </dcd-property-x-dimensions>
</div>

<div class="component-container">
  <h3>Property Location</h3>
  <dcd-property-location
    [property_values]="data_location_property.values"
    [property_dimensions]="data_location_property.dimensions"
    [property_entity_id]="data_location_property.entity_id"
    [apiKey]="apiKey"
    [checked]="false">
  </dcd-property-location>
</div>

<div class="component-container">
  <h3>Property Video</h3>
  <dcd-property-video></dcd-property-video>
</div>

<div class="component-container">
  <h3>Property Text</h3>
  <dcd-property-text
    [property_values]="data_text_property.values">
  </dcd-property-text>
</div>


<!-- These components work correctly only with a SSR setup with the OAuth2 strategy & routerAPI of the sdk js
  <div class ="component-container">
      <h3 style="text-align: center">Property component</h3>
      <dcd-property [property]="property" [rangeTime] = "rangeTime" ></dcd-property>
  </div>

    <div class ="component-container">
      <h3 style="text-align: center">Thing component</h3>
      <dcd-thing [thing]="thing" [rangeTime] = "rangeTime" ></dcd-thing>
  </div>

  <div class ="component-container">
      <h3 style="text-align: center">Things component</h3>
      <dcd-things></dcd-things>
  </div>

  <div class ="component-container">
    <h3 style="text-align: center">Property Types component</h3>
    <dcd-data-types [properties]="properties"></dcd-data-types>
    <button (click)="addProperty()">Test</button>
  </div>

  <div class ="component-container">
    <h3 style="text-align: center">Data Collection component</h3>
    <dcd-data-collections [properties]="properties"></dcd-data-collections>
    <button (click)="addProperty()">Test</button>
  </div>
-->
