<div class ="component-container">
    <h3 style="text-align: center">Radar Chart component</h3>
    <lib-radar-chart 
      [property_values] = "radar_property.values"
      [property_dimensions] = "radar_property.dimensions" 
      [property_type] = 'radar_property.type'
      >
  </lib-radar-chart>
  </div>
  
  <div class ="component-container">
    <h3 style="text-align: center">Line Chart component</h3>
    <lib-line-chart 
      [property_values] = "line_property.values"
      [property_dimensions] = "line_property.dimensions" >
  </lib-line-chart>
  </div>
  
  <div class ="component-container">
    <h3 style="text-align: center">Double Dimensions Chart component</h3>
    <lib-double-dimensions-chart 
      [property_values] = "double_property.values"
      [property_dimensions] = "double_property.dimensions" 
      >
  </lib-double-dimensions-chart>
  </div>
  
  <div class ="component-container">
      <h3 style="text-align: center">Google Maps component</h3>
    <lib-google-maps 
        [property_values] = "location_property.values"
        [property_dimensions] ="location_property.dimensions" 
        [property_entity_id] ="location_property.entity_id"  
        [apiKey]="apiKey" 
        [checked]="false">
    </lib-google-maps>
  </div>

  <div class ="component-container">
    <h3 style="text-align: center">Property component</h3>
    <lib-property [property]="property" [rangeTime] = "rangeTime" ></lib-property>
</div>
  
  <!-- These component work correctly only with a SSR setup with the OAuth2 strategy & routerAPI of the sdk
  <div class ="component-container">
      <h3 style="text-align: center">Property component</h3>
      <lib-property [property]="property" [rangeTime] = "rangeTime" ></lib-property>
  </div>

    <div class ="component-container">
      <h3 style="text-align: center">Thing component</h3>
      <lib-thing [thing]="thing" [rangeTime] = "rangeTime" ></lib-thing>
  </div>
  
  <div class ="component-container">
      <h3 style="text-align: center">Things component</h3>
      <lib-things></lib-things>
  </div>

  <div class ="component-container">
    <h3 style="text-align: center">Property Types component</h3>
    <lib-property-types [properties]="properties"></lib-property-types>
    <button (click)="addProperty()">Test</button>
  </div>
  -->
